<ion-header class="ion-no-border ion-padding" [ngClass]="{'applyBorder':scrollYPosition > 10}" [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="30.24" height="31.5" viewBox="0 0 30.24 31.5">
          <path id="Icon_material-add-shopping-cart" data-name="Icon material-add-shopping-cart"
            d="M16.5,13.5h3V9H24V6H19.5V1.5h-3V6H12V9h4.5ZM10.5,27a3,3,0,1,0,3,3A3,3,0,0,0,10.5,27Zm15,0a3,3,0,1,0,3,3A3,3,0,0,0,25.5,27ZM10.755,22.125l.045-.18L12.15,19.5H23.325a2.986,2.986,0,0,0,2.625-1.545L31.74,7.44,29.13,6h-.015l-1.65,3-4.14,7.5H12.8l-.195-.405L9.24,9,7.815,6,6.4,3H1.5V6h3L9.9,17.385,7.875,21.06A2.9,2.9,0,0,0,7.5,22.5a3.009,3.009,0,0,0,3,3h18v-3H11.13A.381.381,0,0,1,10.755,22.125Z"
            transform="translate(-1.5 -1.5)" fill="#fff" />
        </svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="floatingShare">
  <ion-buttons>
    <ion-button>
      <svg xmlns="http://www.w3.org/2000/svg" width="31.5" height="36" viewBox="0 0 31.5 36">
        <path id="Icon_awesome-share-alt" data-name="Icon awesome-share-alt"
          d="M24.75,22.5a6.721,6.721,0,0,0-4.2,1.469l-7.206-4.5a6.789,6.789,0,0,0,0-2.931l7.206-4.5A6.738,6.738,0,1,0,18.16,8.215l-7.206,4.5a6.75,6.75,0,1,0,0,10.562l7.206,4.5A6.751,6.751,0,1,0,24.75,22.5Z"
          fill="#fff" />
      </svg>
    </ion-button>
  </ion-buttons>
</div>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-grid>
    <ion-row [style.background-color]="selectedWine.bgcolor">
      <ion-col size-lg="7" size="12">
        <ion-label>
          <h1> {{selectedWine.name}} </h1>
          <p> {{selectedWine.description}} </p>

          <ion-buttons>
            <ion-button>4</ion-button>
            <ion-button>ADD TO CART</ion-button>
          </ion-buttons>
        </ion-label>

      </ion-col>

      <ion-col size-lg="4" size="12">
        <img [src]="selectedWine.img">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>